<md-toolbar layout="row" class="md-whiteframe-5dp" id="nav-bar">
  <div class="md-toolbar-tools">
    <ng-md-icon icon="assignment" class="doc-icon" style="fill: white" size="32"></ng-md-icon>
    <a href="/#/home"><h4 class="md-title">DOC CACHE</h4></a>

    <span flex></span>

    <md-fab-speed-dial id="fab" md-direction="left" class="md-scale md-fab-top-right">

      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-primary">
          <div class="doc-icon-right"><ng-md-icon icon="login" style="fill: white" size="32"></ng-md-icon></div>
        </md-button>
      </md-fab-trigger>

      <md-fab-actions>
        <md-button class="md-fab md-raised md-mini" href="/#/login">
          <md-tooltip md-direction="bottom">LOGIN</md-tooltip>
        </md-button>
        <md-button class="md-fab md-raised md-mini" href="/#/signup">
          <md-tooltip md-direction="bottom">SIGNUP</md-tooltip>
        </md-button>
      </md-fab-actions>

    </md-fab-speed-dial>
  </div>
</md-toolbar>