<!-- nav bar -->
<ng-include src="'app/views/dashNavBar.view.html'"></ng-include>

<!-- background picture -->
<div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
  <img src='../assets/imgs/apple.jpg' style='width:100%;height:100%' />
</div>

<!-- overlay -->
<div class="overlay"></div>

<!-- contents -->
<!-- <md-content class="md-padding" id="prof"> -->
  <md-card ng-controller="DocumentCtrl" class="card" data-ng-init="getUser(); getUserDocs()">
    <img ng-src="../assets/imgs/profile-pic.jpg" class="profile-pic">
    <md-card-content class="pro-text">
      <p>@{{users.username}}</p>
      <p>{{users.name.first | uppercase}}</p>
      <p>{{users.name.last | uppercase}}</p>
      <p>You have {{userDocs.length}} Documents</p>
    </md-card-content>
    <div class="md-actions" layout="row" layout-align="center center">
      <md-button ng-click="editUserEv($event)" style="color: #90CAF9;">EDIT PROFILE</md-button>
      <md-button ng-click="getDoc(userDoc._id); deleteUserEv($event)" style="color: #FF0000">DELETE PROFILE</md-button>
    </div>
  </md-card>
<!-- </md-content> -->
