/*home page*/
.home {
  margin-top: 3em;
  position: relative;
  color: white;
  text-align: center;
  font-size: 2em;
}

h1 { 
  position: relative;
  color: white;
  text-align: center;
  font-size: 6em;
  font-family: verdana;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

/*home nav bar*/
#nav-bar {
  background-color: rgba(144,202,249, 0.6);
}
.md-title {
  color: #FFFFFF;
  font-size: 135%;
}
.doc-icon {
  margin-top: 0.35em;
}

.doc-icon-right {
  margin-top: 0.7em;
}

/*login page*/
#log-form {
  width: 30em;
  margin: 0 auto;
  margin-top: 10em;
  background-color: rgba(255, 255, 255, 0.96);
  border-radius: 0.3em;
}

.log-but {
  color: rgb(144,202,249);
}

.md-actions p a {
  color: rgb(144,202,249);
  text-decoration: none;
}

.md-actions p a:hover {
  text-decoration: underline;
}


/*signup page*/
#sign-form {
  margin-top: 5em;
  background-color: rgba(255, 255, 255, 0.96);
  border-radius: 0.3em;
}

.sign-but {
  color: rgb(144,202,249);
}

/*floating action button*/
#fab {
  margin-top: -0.8em;
  color: black;
}

/*dashboard*/
#dash {
  width: 75%;
  /*height: 70%;*/
  margin: 0 auto;
  margin-top: 1em;
  border-radius: 0.3em;
  background-color: rgba(255, 255, 255, 0.7);
}

#tab-tab {
  background-color: rgb(144,202,249);
}

#doc-tabs {
  background: #fbfbfb;
}

#cDoc-but {
  color: rgb(144,202,249); 
  margin-left: -1.2em;
}

md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: rgb(0, 0, 0);
}

/*user profile*/
.profile-pic {
  height: 10em;
  width: 10em;
  margin: 0 auto;
  margin-top: 1em;
}

.card {
  width: 95%;
  margin: 0 auto;
}

.pro-text p {
  font-size: 1.4em;
  text-align: center;
}

#prof {
  width: 40%;
  margin: 0 auto;
  margin-top: 4em;
  border-radius: 0.3em;
  background-color: rgba(255, 255, 255, 0.7);
}
